body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.margin-top-sm {
  margin-top: 1rem;
}
.margin-top-md {
  margin-top: 3rem;
}
.margin-left-sm {
  margin-left: 1rem;
}
.navbar-inverse {
  background-color: #ff4342;
  border-color: #ff4342;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}
.navbar-inverse .navbar-toggle {
  border-color: #ff4342;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #ff4342;
  border-color: #ff4342;
}
.navbar-inverse .navbar-collapse {
  border-color: #ff4342;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background-color: #ff4342;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #ff4342;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #ff4342;
}
.dropdown-menu {
  box-shadow: none;
}
.form-control {
  transition: none;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
}
.dropdown-menu .divider {
  background-color: #ffffff;
}
.gigs {
  list-style: none;
}
.gigs > li {
  position: relative;
  margin-bottom: 25px;
  width: 240px;
}
.gigs > li > .datetime {
  width: 80px;
  height: 75px;
  background: #F93800;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  text-align: center;
}
.gigs > li > .gig-info {
  position: absolute;
  margin-left: 90px;
  left: 0;
  top: 5px;
}
.gigs > li > .gig-info > .artist {
  display: block;
  font-weight: 500;
  margin-bottom: -4px;
  width: 279px;
}
.gigs > li > .gig-info > .genre {
  font-weight: 300;
  font-size: 13px;
}
.gigs > li:hover .btn-edit-del {
  display: block;
}
.datetime > .month {
  position: absolute;
  top: 5px;
  width: 90px;
  color: #ffffff;
}
.datetime > .date {
  position: absolute;
  top: 30px;
  height: 80px;
  background: #f6efef;
  width: 80px;
  font-size: 20px;
}
.buttons {
  position: absolute;
  top: 5px;
  left: 200px;
  display: inline-block;
}
.btn-sm-custome {
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.5;
  artistborder-radius: 3px;
}
.btn-edit-del {
  display: none;
  transition: all 0.5s ease-out;
}
.gig-artist-title {
  font-size: 22px;
}
.going-btn {
  display: block;
}
.field-validation-error {
  color: red;
  font-weight: 500;
}
.input-validation-error {
  border: 1px solid red;
}
ul.notification-bar {
  list-style: none;
  padding: 0px;
}
ul.notification-bar > li {
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
  word-spacing: 2px;
}
.navbar-right > .notifications {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
}
.navbar-right > .notifications > a > .badge {
  position: absolute;
  top: 8px;
  right: -1px;
  background: #a80a0a;
}
ul.notification-bar > li:last-child {
  padding: 10px 10px;
  border-bottom: none;
}
ul.notification-bar > li > .highlight {
  font-weight: 700;
}
.custome-popover {
  padding: 0;
}
.popover {
  box-shadow: none;
}
.form-group {
  margin-bottom: 22px;
}
.form-control {
  height: 40px;
  padding: 3px 14px;
  font-size: 18px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 2px 0px rgba(44, 30, 30, 0.075);
}
.form-control:focus {
  border-color: #0081f0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-save {
  font-size: 17.5px;
  padding: 6px 20px;
  border-radius: 6px;
}
.section {
  margin-top: 4rem;
}
#searchGig {
  width: 300px;
}
::-webkit-input-placeholder {
  font-size: 12px;
}
